
body {
  font-size: 25px;
  font-family: arial, sans-serif;
  background-color: #ECF0F1;
}

.jumbotron {
  background-image: url("../images/building.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 640px;
  opacity: 0.8;
  margin-top: -20px;
}

h1 span { 
  color: white; 
  font: 35px/55px; 
  letter-spacing: -1px;  
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.7);
  padding: 10px; 
  text-align: center;
  position: absolute; 

  width: 70%;    
}

.learn {
  position: absolute;
  left: 560px;
  top: 350px;
  color: white;
}

.more {
  color: white;
}

.fa{
  color: white;
}

.tagline {
  top: 200px;
}


.soon {
  top: 500px;
}

.navbar navbar-default {
  background-color: black;
}

li {
  font-size: 20px;
}

footer {
    padding: 50px 0;
    background-color: black;
}

footer p {
    margin: 0;
}

.light {
  color: white;
}

.projects {
  padding: 30px;
}